<div style="margin: 2rem auto; max-width: 100%; overflow: hidden; padding: 10px; background: rgba(255,255,255,0.05); border-radius: 8px;">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6655028915274835"
         data-ad-slot="7754440041"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>

    <p style="font-size: 0.8rem; margin-top: 10px;">
        Get 250 <a href="https://cloudflare-ipfs.com/ipfs/QmYCdXnRjhG1YoD7h45XuRhE5QBeNdqWvFqWPKzFQqsLnQ/" style="color: gold;">0FP0EXP Token</a> to remove this advertisement.
    </p>
</div>