{% for item in site.data.contactme.Primary %}
    <a href="{{ item.link }}"><img class="myicon" src="{{ site.url | append: item.icon }}" alt="{{ item.name }}"/></a>
{% endfor %}

{% for item in site.data.contactme.Secondary %}
    <a href="{{ item.link }}"><img class="myicon" src="{{ site.url | append: item.icon }}" alt="{{ item.name }}"/></a>
{% endfor %}

{% for item in site.data.contactme.Others %}
    <a href="{{ item.link }}"><img class="myicon" src="{{ site.url | append: item.icon }}" alt="{{ item.name }}"/></a>
{% endfor %}

<!--
<a href="https://github.com/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/github.png' | relative_url }}" onerror="this.onerror=null;this.src='https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg';" alt="Github"/></a>

<a href="https://www.torum.com/u/0fajarpurnama0?referral_code=0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/crypto/xtm.png' | relative_url }}" onerror="this.onerror=null;this.src='https://www.gitbook.com/cdn-cgi/image/width=40,height=40,fit=contain,dpr=1,format=auto/https%3A%2F%2F4165040634-files.gitbook.io%2F~%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FYTkZXqGl6HjQaBDgNh4J%252Ficon%252F7YRxUeKmei12W82s59cJ%252Ftorum-dark-200.png%3Falt%3Dmedia%26token%3D9c897162-f9f9-4732-abf2-60719dd89f14';" alt="Torum"/></a>

<a href="https://noise.cash/u/FajarPurnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/noise-cash.svg' | relative_url }}" onerror="this.onerror=null;this.src='https://noise.cash/logo.svg';" alt="noise.cash"/></a>

<a href="https://www.minds.com/0fajarpurnama0?referrer=0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/crypto/minds.svg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/minds.svg';" alt="minds"/></a>

<a href="https://www.uhive.com/z/1ST4KB1"><img class="myicon" src="{{ '/assets/images/icon/crypto/uhive.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/1234070260497764353/YnMDMlWN_400x400.jpg';" alt="Uhive"/></a>

<a href="https://www.floyx.com/profile/0fajarpurnama0/posts?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6IjBmYWphcnB1cm5hbWEwIn0.qOEBl8cXWaC-jeGlbBCUdaa1LaCyqpEGWZuSCXjrG6A"><img class="myicon" src="{{ '/assets/images/icon/crypto/floyx.webp' | relative_url }}" onerror="this.onerror=null;this.src='https://assets.coingecko.com/coins/images/24890/large/h-5Ci8aj_400x400.jpg?1649253342';" alt="Floyx"/></a>

<a href="https://memo.cash/profile/13aFutkrWkURvrJ8MWqXeHUYZkxV1jmoy4"><img class="myicon" src="{{ '/assets/images/icon/crypto/memo-cash.png' | relative_url }}" onerror="this.onerror=null;this.src='https://memo.cash/img/memo-logo-large.png';" alt="memo.cash"/></a>

<a href="https://revain.org/authors/10eeba1c-7428-4d8a-b1bf-a9cadf18b7b7?referralToken=6bd10c5f-b755-4544-861d-52fdb4ecd260"><img class="myicon" src="{{ '/assets/images/icon/crypto/revain.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/1352328787141267459/4c1k17OE_400x400.jpg';" alt="revain.cash"/></a>

<a href="https://markethive.com/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/crypto/markethive.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/712213513624682496/l4onSi0K_400x400.jpg';" alt="Market Hive"/></a>

<a href="https://twitter.com/0FajarPurnama0"><img class="myicon" src="{{ '/assets/images/icon/twitter.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/twitter.png';" alt="twitter"/></a>

<a href="https://www.facebook.com/fajar.purnama.543"><img class="myicon" src="{{ '/assets/images/icon/facebook.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/facebook.png';" alt="facebook"/></a>

<a href="https://instagram.com/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/instagram.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/instagram.jpg';" alt="instagram"/></a>

<a href="https://www.linkedin.com/in/fajar-purnama-45583780"><img class="myicon" src="{{ '/assets/images/icon/linked.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/linked.jpg';" alt="lindked"/></a>

<a href="https://discord.gg/aDRAu7Q"><img class="myicon" src="{{ '/assets/images/icon/discord.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/discord.jpg';" alt="discord"/></a>

<a href="https://www.reddit.com/user/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/reddit.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/reddit.jpg';" alt="reddit"/></a>

<a href="https://vk.com/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/vk.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/vk.png';" alt="vk"/></a>

<a href="https://id.pinterest.com/fajarpurnamaabc"><img class="myicon" src="{{ '/assets/images/icon/pininterest.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/pininterest.jpg';" alt="pininterest"/></a>

<a href="https://social.eaglerockglobal.org/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/socialeaglerockglobal.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/socialeaglerockglobal.png';" alt="socialeaglerockglobal"/></a>

<a href="https://www.wowapp.com/w/fajar.purnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/wowapp.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/909733559115636736/K2f7HB80_400x400.jpg';" alt="Wow App"/></a>

<a href="https://www.publish0x.com/0fajarpurnama0?a=4oeEw0Yb0B&tid=github"><img class="myicon" src="{{ '/assets/images/icon/crypto/publish0x.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/publish0x.png';" alt="publish0x"/></a>

<a href="https://hive.blog/@fajar.purnama?ref=fajar.purnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/hive.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/hive.jpg';" alt="hive"/></a>

<a href="https://steemit.com/@fajar.purnama?r=fajar.purnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/steemit.png' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/1032284748050137089/-m2-bay0_400x400.jpg';" alt="steemit"/></a>

<a href="https://blurt.blog/@fajar.purnama?referral=fajar.purnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/blurt.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/1254598533203755009/ADhCm767_400x400.jpg';" alt="steemit"/></a>

<a href="https://read.cash/r/FajarPurnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/read-cash.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/1314231516684263426/sMbdxdJ2_400x400.jpg';" alt="steemit"/></a>

<a href="https://www.loop.markets/user/36801"><img class="myicon" src="{{ '/assets/images/icon/crypto/loopmarket.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://dex.loop.markets/log-loop.png';" alt="Loop Market"/></a>

<a href="https://lbry.tv/@0fajarpurnama0:e"><img class="myicon" src="{{ '/assets/images/icon/crypto/lbry.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/lbry.png';" alt="LBRY"/></a>

<a href="https://bittube.tv/profile/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/crypto/bittube.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/bittube.png';" alt="https://bittube.app/?ref?2JY4FE0CP"/></a>

<a href="https://www.youtube.com/c/PurnamaABC"><img class="myicon" src="{{ '/assets/images/icon/youtube.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/youtube.png';" alt="youtube"/></a>

<a href="https://www.twitch.tv/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/twitch.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/twitch.png';" alt="twitch"/></a>

<a href="https://www.bitchute.com/channel/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/crypto/bitchute.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/bitchute.jpg';" alt="bitchute"/></a>

<a href="https://dlive.tv/fajarpurnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/dlive.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/dlive.png';" alt="dlive"/></a>

<a href="https://d.tube/#!/c/fajar.purnama"><img class="myicon" src="{{ '/assets/images/icon/crypto/dtube.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/dtube.png';" alt="dtube"/></a>

<a href="https://medium.com/@0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/medium.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/medium.png';" alt="medium"/></a>

<a href="http://0darkking0.blogspot.com"><img class="myicon" src="{{ '/assets/images/icon/blogger.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/blogger.png';" alt="blogger"/></a>

<a href="https://0fajarpurnama0.weebly.com"><img class="myicon" src="{{ '/assets/images/icon/weebly.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/weebly.png';" alt="weebly"/></a>

<a href="https://0fajarpurnama0.wixsite.com/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/wix.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/wix.png';" alt="wix"/></a>

<a href="https://opensea.io/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/crypto/opensea.svg' | relative_url }}" onerror="this.onerror=null;this.src='https://opensea.io/static/images/logos/opensea.svg';" alt="Open Sea"/></a>

<a href="https://rarible.com/0fajarpurnama0"><img class="myicon" src="{{ '/assets/images/icon/crypto/rarible.png' | relative_url }}" onerror="this.onerror=null;this.src='https://cdn.freelogovectors.net/wp-content/uploads/2021/12/rarible-logo-freelogovectors.net_.png';" alt="Rarible"/></a>

<a href="https://www.bakeryswap.org/#/usercenter/0xD9c6F048c08bCb24190C0FDE5BbC622f51F83469"><img class="myicon" src="{{ '/assets/images/icon/crypto/bakery-swap.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/1438315556608770049/2RJYDD73_400x400.jpg';" alt="Bakery Swap"/></a>

<a href="https://exchange.yetiswap.app/#/profile/0xCf354A0012160bC5dAe441C49f0B2d7E4A4fFC96"><img class="myicon" src="{{ '/assets/images/icon/crypto/yetiswap-nft-market-place.png' | relative_url }}" onerror="this.onerror=null;this.src='https://miro.medium.com/max/3150/1*FOqA5A669ScXDIeigsD1YA.png';" alt="Yeti Swap"/></a>

<a href="https://refer.codes/0fajarpurnama0/"><img class="myicon" src="{{ '/assets/images/icon/crypto/refercodes.svg' | relative_url }}" onerror="this.onerror=null;this.src='https://refer.codes/static/img/refercodes-logotype.51d5dad0a10e.svg';" alt="refer codes"/></a>
-->

<!-- Depricated

<a href="https://0fajarpurnama0.tumblr.com"><img class="myicon" src="{{ '/assets/images/icon/tumblr.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/tumblr.png';" alt="thumblr"/></a>

<a href="https://0fajarpurnama0.cloudaccess.host"><img class="myicon" src="{{ '/assets/images/icon/joomla.jpg' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/joomla.jpg';" alt="joomla"/></a>

<a href="https://hicc.cs.kumamoto-u.ac.jp/~fajar"><img class="myicon" src="{{ '/assets/images/icon/website.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/02/10/website.png';" alt="portal"/></a>

<a href="https://view.ly/c/9eb285499018ec34"><img class="myicon" src="{{ '/assets/images/icon/crypto/viewly.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/viewly.png';" alt="viewly"/></a>

<a href="https://www.uptrennd.com/user/NjYwNjg"><img class="myicon" src="{{ '/assets/images/icon/crypto/uptrennd.png' | relative_url }}" onerror="this.onerror=null;this.src='https://404store.com/2020/03/16/uptrennd.png';" alt="uptrennd"/></a>
-->
