<script src="{{ 'assets/js/0fp0evm.js' | relative_url }}"></script>
<script src="{{ 'assets/js/ethereum_request_input.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/ethers.umd.js' | relative_url }}"></script>
<!-- <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script> -->

<script src="{{ 'assets/js/0fp0solana.js' | relative_url }}"></script>

<script src="{{ 'assets/js/0fp0tron.js' | relative_url }}"></script>

<script src="{{ 'assets/js/0fp0near.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/near-api-js.0.41.0.min.js' | relative_url }}"></script>

<script src="{{ 'assets/js/0fp0wax.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/waxjs.js' | relative_url }}"></script>

<script src="{{ 'assets/js/0fp0ontology.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/ontology-dapi/browser.js' | relative_url }}"></script>

<script src="{{ 'assets/js/0fp0rabbet.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/stellar-sdk.10.1.0.min.js' | relative_url }}"></script>

<script src="{{ 'assets/js/3rdpartyweb3/ethers-5.2.umd.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/hivesigner.3.2.7.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/freighter-api.1.1.2.index.min.js' | relative_url }}"></script>

<script src="{{ 'assets/js/3rdpartyweb3/myalgo.1.1.3.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/algosdk.1.16.0.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/connexv2.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/iost.0.1.22.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/scatterjs-core.2.7.54.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/scatterjs-plugin-eosjs.2.7.54.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/scatterjs-plugin-eosjs2.2.7.54.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/externals.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-api.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-jsonrpc.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-jssig.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-numeric.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/anchor-link.bundle.3.5.0.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/anchor-link-browser-transport.bundle.3.5.0.js' | relative_url }}"></script>