[submodule "projects/webapp/Browser-Speech-Generation"]
	path = projects/webapp/Browser-Speech-Generation
	url = https://github.com/0fajarpurnama0/Browser-Speech-Generation.git
[submodule "projects/webapp/cards"]
	path = projects/webapp/cards
	url = https://github.com/0fajarpurnama0/cards.git
[submodule "projects/webapp/Date-Time"]
	path = projects/webapp/Date-Time
	url = https://github.com/0fajarpurnama0/Date-Time.git
[submodule "projects/webapp/Image-Editor"]
	path = projects/webapp/Image-Editor
	url = https://github.com/0fajarpurnama0/Image-Editor.git
[submodule "projects/webapp/pdf"]
	path = projects/webapp/pdf
	url = https://github.com/0fajarpurnama0/pdf.git
[submodule "projects/webapp/sounds"]
	path = projects/webapp/sounds
	url = https://github.com/0fajarpurnama0/sounds.git
[submodule "projects/webapp/Text-Case-Converter"]
	path = projects/webapp/Text-Case-Converter
	url = https://github.com/0fajarpurnama0/Text-Case-Converter.git
[submodule "projects/webapp/minesweeper"]
	path = projects/webapp/minesweeper
	url = https://github.com/0fajarpurnama0/minesweeper.git
[submodule "projects/webapp/Multimedia-Editor-Only-In-HTML-CSS-JS"]
	path = projects/webapp/Multimedia-Editor-Only-In-HTML-CSS-JS
	url = https://github.com/0fajarpurnama0/Multimedia-Editor-Only-In-HTML-CSS-JS.git
[submodule "projects/webapp/chess"]
	path = projects/webapp/chess
	url = https://github.com/0fajarpurnama0/chess.git
[submodule "projects/webapp/Syntax-Converters"]
	path = projects/webapp/Syntax-Converters
	url = https://github.com/0fajarpurnama0/Syntax-Converters.git
[submodule "projects/webapp/canvas"]
	path = projects/webapp/canvas
	url = https://github.com/0fajarpurnama0/canvas.git
