<link rel="stylesheet" href="{{ 'assets/css/dapp-comments.css' | relative_url }}" />
<script src="{{ 'assets/js/3rdpartyweb3/ethers-5.2.umd.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/hivesigner.3.2.7.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/freighter-api.1.1.2.index.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/stellar-sdk.10.1.0.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/waxjs.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/near-api-js.0.41.0.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/myalgo.1.1.3.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/algosdk.1.16.0.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/connexv2.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/iost.0.1.22.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/scatterjs-core.2.7.54.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/scatterjs-plugin-eosjs.2.7.54.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/scatterjs-plugin-eosjs2.2.7.54.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/externals.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-api.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-jsonrpc.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-jssig.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/eosjsweb/eosjs-numeric.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/anchor-link.bundle.3.5.0.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/anchor-link-browser-transport.bundle.3.5.0.js' | relative_url }}"></script>
<script src="{{ 'assets/js/3rdpartyweb3/ontology-dapi/browser.js' | relative_url }}"></script>
<div id="write-comment-web3" class="dapp-comment-dropdown">
    <span value="comment-choose" id="comment-choose">Donate and/or Write Comment on Web3 &#9660;</span>
    <div id="comment-options" class="dapp-comment-dropdown-content">
        <p id="comment-ethereum" onclick="change_select('comment-ethereum')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/ethereum.png' | relative_url }}"/>Ethereum & EVMs<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/metamask-fox.svg' | relative_url }}"/></p>
        <p id="comment-tron" onclick="change_select('comment-tron')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/tron.png' | relative_url }}"/>Tron<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/tronlink.jpg' | relative_url }}"/></p>
        <p id="comment-stellar-freighter" onclick="change_select('comment-stellar-freighter')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/stellar-lumen.png' | relative_url }}"/>Stellar Lumen Freighter<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/freighter.svg' | relative_url }}"/></p>
        <p id="comment-stellar-rabet" onclick="change_select('comment-stellar-rabet')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/stellar-lumen.png' | relative_url }}"/>Stellar Lumen Rabet<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/rabet.png' | relative_url }}"/></p>
        <p id="comment-neoline-n2" onclick="change_select('comment-neoline-n2')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/neo.png' | relative_url }}"/>Neoline N2<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/neoline.webp' | relative_url }}"/></p>
        <p id="comment-neoline-n3" onclick="change_select('comment-neoline-n3')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/neo.png' | relative_url }}"/>Neoline N3<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/neoline.webp' | relative_url }}"/></p>
        <p id="comment-waves-keeper" onclick="change_select('comment-waves-keeper')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/waves.png' | relative_url }}"/>Waves Keeper<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/waves-keeper.webp' | relative_url }}"/></p>
        <p id="comment-hive-signer" onclick="change_select('comment-hive-signer')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/hive.jpg' | relative_url }}"/>Hive Signer<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/hive-signer.svg' | relative_url }}"/></p>
        <p id="comment-hive-keychain" onclick="change_select('comment-hive-keychain')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/hive.jpg' | relative_url }}"/>Hive Keychain<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/hive-keychain.jpg' | relative_url }}"/></p>
        <p id="comment-wax" onclick="change_select('comment-wax')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/wax.png' | relative_url }}"/>Wax<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/waxp.png' | relative_url }}"/></p>
        <p id="comment-solana" onclick="change_select('comment-solana')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/solana.jpg' | relative_url }}"/>Solana<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/phantom.jpg' | relative_url }}"/></p>
        <p id="comment-ziliqa-zilpay" onclick="change_select('comment-ziliqa-zilpay')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/ziliqa.png' | relative_url }}"/>Ziliqa Zilpay<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/zilpay.svg' | relative_url }}"/></p>
        <p id="comment-near" onclick="change_select('comment-near')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/near.png' | relative_url }}"/>Near<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/near-wallet.png' | relative_url }}"/></p>
        <p id="comment-myalgo" onclick="change_select('comment-myalgo')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/algorand.png' | relative_url }}"/>Algorand MyAlgo<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/myalgo.png' | relative_url }}"/></p>
        <p id="comment-vechain-sync" onclick="change_select('comment-vechain-sync')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/vechain.png' | relative_url }}"/>Vechain Sync<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/vechain-sync.png' | relative_url }}"/></p>
        <p id="comment-iost-iwallet" onclick="change_select('comment-iost-iwallet')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/iost.png' | relative_url }}"/>IOST IWallet<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/iwallet.jpg' | relative_url }}"/></p>
        <p id="comment-eos-scatter" onclick="change_select('comment-eos-scatter')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/eos.png' | relative_url }}"/>EOS Scatter<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/scatter.png' | relative_url }}"/></p>
        <p id="comment-eos-anchor" onclick="change_select('comment-eos-anchor')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/eos.png' | relative_url }}"/>EOS Anchor<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/anchor.png' | relative_url }}"/></p>
        <p id="comment-ontology-wallets" onclick="change_select('comment-ontology-wallets')"><img style="height: 1em;" src="{{ 'assets/images/icon/crypto/ontology.png' | relative_url }}"/>Ontology Wallets<img style="height: 1em;" src="{{ 'assets/images/icon/crypto/onto-wallet.png' | relative_url }}"/></p>
    </div>
</div>
<button onclick="write_comment_web3()">Comment</button>
<br />
Recipient: <input type="text" id="comment-recipient" style="width: 100%" name="comment-recipient" value="input public address or key"/>
<br />
<textarea id="comment-message" style="width: 100%" rows="4" name="comment-message" value="Put your comment here.">Put your comment here.</textarea>
<br />
Amount: <input type="number" id="comment-amount" style="width: 100%" name="comment-amount" value="0.1"/>
<br />
Status: <span id="comment-status"></span>
<br />

<script src="{{ 'assets/js/web3comment.js' | relative_url }}"></script>