<meta charset="UTF-8">
<meta property="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="{{ page.title }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta property="author" name="author" content="Fajar Purnama">
<meta property="description" name="description" content="{{ page.description }}" />
<meta property="keywords" name="keywords" content="{{ page.tags }}">
<meta property="og:description" content="{{ page.description }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta property="og:image" name="twitter:image" content="{{ page.featuredimage }}" />
<meta name="twitter:image" content="{{ page.featuredimage }}" />
<link rel="canonical" href="{{ page.canonicalurl }}" />