<input id="minemerange" type="range" min="0" max="100" value="10" />
<p id="range-value"></p>
<p id="message"></p>
<p id="threads"></p>
<p id="hashrate"></p>
<p id="hashes"></p>
<br /><br />
<a href="http://maetrimal.com/22989623/mintme-mining-interface"> source code </a> <br />
<a href="http://maetrimal.com/22989623/mintme-old-mining-interface"> old source code </a>
<p>get any <a href="https://cloudflare-ipfs.com/ipfs/QmYCdXnRjhG1YoD7h45XuRhE5QBeNdqWvFqWPKzFQqsLnQ/">0FP0EXP Token</a> to automatically turn off or 10 <a href="https://cloudflare-ipfs.com/ipfs/QmYCdXnRjhG1YoD7h45XuRhE5QBeNdqWvFqWPKzFQqsLnQ/">0FP0EXP Token</a> to remove this JavaScript Mining.</p>
<script src="{{ 'assets/js/mineme.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ 'assets/js/3rdpartyweb3/coinimp.js' | relative_url }}"></script>