<a id="referral-link" href="">
      <figure>
            <img id="referral-image" src="" alt="" />
            <figcaption id="referral-description"></figcaption>
      </figure>
</a>
<p>get 20 <a href="0fajarpurnama0.coin/">0FP0EXP Token</a> to remove my personal ADS.</p>
<script type="text/javascript">
      const xmlhttprandomreferral = new XMLHttpRequest();
      xmlhttprandomreferral.onload = function() {
      const random_referral = JSON.parse(this.responseText);
      let random_referral_number = Math.floor(Math.random() * random_referral.referral.length);
      document.getElementById("referral-link").href = random_referral.referral[random_referral_number].link;
      document.getElementById("referral-image").src = random_referral.referral[random_referral_number].image;
      document.getElementById("referral-image").alt = random_referral.referral[random_referral_number].name;
      document.getElementById("referral-description").innerHTML = random_referral.referral[random_referral_number].category;
      }
      xmlhttprandomreferral.open("GET", "{{ '/assets/json/referrals.json' | relative_url }}"); //https://0fajarpurnama0.github.io/assets/json/referrals.json
      xmlhttprandomreferral.send();
</script>