<style>
    #quotes_random {
        background-color: black;
        font-family: cursive;
    }

    .quote{
        animation: glow 1s ease-in-out infinite onerror="this.onerror=null;this.src='';" alternate;
        color: #fff;
    }

    .author{
        color: yellow;
        font-family: Lucida Handwriting;
    }

    @-webkit-keyframes glow {
        from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
    }
</style>

<script>
    const xmlhttprandomquote = new XMLHttpRequest();
    xmlhttprandomquote.onload = function() {
        const random_quote = JSON.parse(this.responseText);
        let fajar_quotes_length = random_quote.fajar_quotes.length;
        let other_quotes_length = random_quote.other_quotes.length;
        const authors = ["fajar_quotes", "other_quotes"];
        let authors_length = authors.length;
        let authors_random = authors[Math.floor(Math.random() * authors_length)];
        let quote_random = 0;
        if (authors_random == "fajar_quotes"){
            quote_random = Math.floor(Math.random() * (fajar_quotes_length));
        } else {
            quote_random = Math.floor(Math.random() * (other_quotes_length));
        }
        print_quote("quotes_random", random_quote[authors_random][quote_random].quote, random_quote[authors_random][quote_random].author);
    }
    xmlhttprandomquote.open("GET", "{{ '/assets/json/quote.json' | relative_url }}"); //https://0fajarpurnama0.github.io/assets/json/quote.json
    xmlhttprandomquote.send();

    function print_quote(id, quote, author){
        document.getElementById(id).innerHTML = `
        <p class="quote">`+quote+`</p>
        <p class="author">`+author+`</p>
        <br>
        `
    }
</script>

<div id="quotes_random"></div>

<p><a href="http://raboninco.com/22989623/random-quote-get-json">source code</a></p>