<!-- Default Statcounter code for 0fajarpurnama0.github.io https://0fajarpurnama0.github.io -->
<script type="text/javascript">
      var sc_project=12209343;
      var sc_invisible=0;
      var sc_security="4fe43123";
      var scJsHost = "https://";
      document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
      </script>
      <noscript><div class="statcounter"><a title="Web Analytics
      Made Easy - StatCounter" href="https://statcounter.com/"
      target="_blank"><img class="statcounter"
      src="https://c.statcounter.com/12209343/0/4fe43123/0/"
      onerror="this.onerror=null;this.src='';" alt="Web Analytics Made Easy -
      StatCounter"></a></div></noscript>
      <!-- End of Statcounter Code -->
      <a href="https://statcounter.com/p12209343/?guest=1">View My
      Stats</a>