.grid-post-all {
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
	background-color: #2196F3;
	padding: 10px;
	text-align: justify;
	word-wrap: break-word;
	>div {
		background-color: rgba(255, 255, 255, 0.8);
		>img {
			max-width: 100%;
			max-height: 50vh;
			text-align: center;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		>h1 {
			text-align: center;
		}
		>h2 {
			text-align: center;
		}
		>h3 {
			text-align: center;
		}
	}
}

@media screen and (min-width: 768px) {
	.grid-post-all {
		display: grid;
		grid-template-columns: 50% auto;
	}
}