h1 {
	text-shadow: 0.5px 0.5px 0.5px yellow, 1px 1px 1px goldenrod, 1.5px 1.5px 1.5px orange, 2px 2px 2px grey, 2.5px 2.5px 2.5px black;
	color: gold;
}

h2, h3, h4, h5 {
	text-shadow: 0.5px 0.5px 0.5px brown, 1px 1px 1px grey;
	color: chocolate;
}