@media screen and (min-width: 768px) {
	.header {
		background-color: aqua;
		background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
		text-align: center;
		border-style: solid;
		border-width: 0.1vw;
		border-color: #c2e9fb;
	}

	.grid-container {
		display: grid;
		grid-template-columns: auto 20vw;
		grid-template-rows: auto auto;
	}

	.grid-menu{
		grid-row: 1/2;
		grid-column: 1/2;
		color: white;
		/*background-image: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);*/
		background-color: whitesmoke;
		font-size:calc(12pt + 1.5vw);
		border-style: solid;
		border-width: 0.1vw;
		border-color: #131313;
        padding: 0.5vw;
	}

	.grid-content{
		grid-column: 1/2;
		grid-row: 2/3;
		background-color: white;
		background-image: radial-gradient(ellipse at center, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		font-size:calc(11pt + 1vw);
		padding: 2vw;
		max-width: 100vw;
	}

	.grid-widget{
		grid-column: 2/3;
		grid-row: 1/3;
		background-color: #F6D155;
		background-image: linear-gradient(to right, #fcb69f, #ffecd2);
		padding: 2vw;
		word-break: break-all;
	}

	footer{
	  background-color: lightgreen;
	  background-image: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
	  padding: 2vw;
	}
}