@media screen and (min-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto 20vw;
	}

	.grid-content{
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.grid-widget{
		grid-column: 2/3;
		grid-row: 1/2;
	}
}