<figure>
    <img id="mynfts-image" src="" alt="" />
    <figcaption id="mynfts-caption"></figcaption>
</figure>

<p>Get 50 <a href="https://cloudflare-ipfs.com/ipfs/QmYCdXnRjhG1YoD7h45XuRhE5QBeNdqWvFqWPKzFQqsLnQ/">0FP0EXP Token</a> to remove my NFTS advertisements!</p>

<script>
    const xmlhttprandommynfts = new XMLHttpRequest();
    xmlhttprandommynfts.onload = function() {
      const mynfts = JSON.parse(this.responseText);

      // crypto donation
      let random_mynfts_number = Math.floor(Math.random() * mynfts.length);
      document.getElementById("mynfts-image").alt
= mynfts[random_mynfts_number].address;
      document.getElementById("mynfts-image").src
= mynfts[random_mynfts_number].image;
      document.getElementById("mynfts-caption").innerHTML = "<a href='"+ mynfts[random_mynfts_number].address +"'>"+ mynfts[random_mynfts_number].name +"</a>";
    }
    xmlhttprandommynfts.open("GET", "{{ '/assets/json/mynfts.json' | relative_url }}"); //https://0fajarpurnama0.github.io/assets/json/mynfts.json
    xmlhttprandommynfts.send();
</script>