/*
* {
	overflow: auto;
}
*/

* {
	text-align: justify;
	word-wrap: break-word;
	word-break: break-word;
}

html {
  background-color: lightyellow;
}

@media screen and (min-width: 801px) {
	.header {
		background-color: aqua;
		background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
		text-align: center;
		border-style: solid;
		border-width: 0.1vw;
		border-color: #c2e9fb;
	}

	.grid-container {
		display: grid;
		grid-template-columns: auto 20vw;
		grid-template-rows: auto auto;
	}

	.grid-menu{
		grid-row: 1/2;
		grid-column: 1/2;
		color: white;
		/*background-image: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);*/
		background-color: black;
		font-size:calc(12pt + 1.5vw);
		border-style: solid;
		border-width: 0.1vw;
		border-color: #131313;
	}

	.grid-content{
		grid-column: 1/2;
		grid-row: 2/3;
		background-color: white;
		background-image: radial-gradient(ellipse at center, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		font-size:calc(11pt + 1vw);
		padding: 2vw;
	}

	.grid-widget{
		grid-column: 2/3;
		grid-row: 1/3;
		background-color: #F6D155;
		background-image: linear-gradient(to right, #fcb69f, #ffecd2);
		padding: 2vw;
		word-break: break-all;
	}

	footer{
	  background-color: lightgreen;
	  background-image: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
	  padding: 2vw;
	}
}

.menu {
	margin: auto;
	background-color: inherit;
	background-image: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
	border-style: solid;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	max-width: 100%;
	max-height: 100vh;
	text-align: center;
	vertical-align: center;
}

h1 {
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 1px rgba(72,227,59,0), 2px 2px 1px rgba(72,227,59,0);
	color: #FFFFFF;
}

h2, h3, h4 {
	text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(72,227,59,0), 2px 2px 2px rgba(72,227,59,0);
	color: brown;
}

/* unvisited link */
a:link {
  color: gold;
	text-shadow: 1px 1px 1px darkred;
}

/* visited link */
a:visited {
  color: lightgreen;
	text-shadow: 1px 1px 1px lightgreen;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.myicon {
	max-height:1.5em;
}

.web3wallet {
	text-align: right;
}

.web3wallet * {
	font-size: calc(11pt + 1vw);
}

.button {
	background-color: SandyBrown;
	background-image: linear-gradient(to bottom, SandyBrown 0%,Peru 12%,Chocolate 25%,SaddleBrown 39%,Sienna 50%,Brown 51%,Sienna 60%,Chocolate 76%,Peru 91%,SandyBrown 100%);
	color: lime;
}

.button:hover {
	box-shadow: 0 5px 15px blue;
	cursor: pointer;
}
