@media screen and (min-width: 801px) {

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px 40px auto;
}

.grid-header {
  grid-row: 1/2;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: aqua;
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
  text-align: center;
}

.grid-header-1 {
	grid-column: 1/6;
	display: table;
}

.grid-header-2 {
	grid-column: 6/11;
	display: table;
	overflow: hidden;
}

.grid-social-media{
  grid-row: 2/3;
  grid-column: 1/10;
  color: white;
  background-image: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background-color: black;
  font-size:calc(10px + 1vw);
}

.grid-content{
  grid-column: 1/10;
  grid-row: 3/4;
  background-color: white;
  background-image: radial-gradient(ellipse at center, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  font-size:calc(12px + 1vw);
  margin-top: 10px;
}

.grid-widget{
  grid-column: 10/11;
  grid-row: 2/4;
  background-color: #F6D155;
  background-image: linear-gradient(to right, #fcb69f, #ffecd2);
  padding: 10px;
}

footer{
  background-color: lightgreen;
  background-image: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
  padding: 10px;
}
	
.navmenu {
	float: left;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
	background-color: black;
	/*min-width: 225px;*/
	min-height: 40px;
	font-size:calc(12px + 1vw);
	color: white;
}

.navmenu a {
	text-decoration: none;
}

.dropdown-1 {
	cursor: pointer;
	float: left;
	display: inline;
	position: relative;
	list-style: none;
}
	
.dropcontent-1, .dropcontent-2 {
	position: absolute;
	padding: 0;
	display: none;
	list-style: none;
	background-image: radial-gradient(ellipse at center, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%);
}

.dropcontent-2 {
	position: absolute;
	left: 100%;
	top: 50%;
	width: 100%;
	overflow: visible;
}
	
.dropdown-1:hover > .dropcontent-1 {
	display: block;
}

.dropdown-2:hover > .dropcontent-2 {
	display: block;
}

.navmenu:hover {
	background: radial-gradient(ellipse at center, #ffc578 0%,#fb9d23 100%);
}
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

h1 {
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 1px rgba(72,227,59,0), 2px 2px 1px rgba(72,227,59,0);
	color: #FFFFFF;
}

h2, h3, h4 {
	text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(72,227,59,0), 2px 2px 2px rgba(72,227,59,0);
	color: brown;
}

/* unvisited link */
a:link {
  color: gold;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.myicon {max-width:1.5em;height:1.5em;}

img {
	max-width: 100%;
	max-height: 70%;
}