.commission {
	color: #FFFFFF;
	background: #232323;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

@media screen and (min-width: 801px) {

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px 40px auto;
}

.grid-header {
  grid-row: 1/2;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: aqua;
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
  text-align: center;
}

.grid-header-1 {
	grid-column: 1/6;
	display: table;
}

.grid-header-2 {
	grid-column: 6/11;
	display: table;
}

.grid-menu{
  grid-row: 2/3;
  grid-column: 1/10;
  background-color: grey;
  font-size:calc(10px + 1vw);
}

.grid-content{
  grid-column: 1/10;
  grid-row: 3/4;
  background-color: white;
  background-image: radial-gradient(ellipse at center, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  font-size:calc(12px + 1vw);
  margin-top: 10px;
}

.grid-widget{
  grid-column: 10/11;
  grid-row: 2/4;
  background-color: #F6D155;
  background-image: linear-gradient(to right, #fcb69f, #ffecd2);
  padding: 10px;
}

footer{
  background-color: lightgreen;
  background-image: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
  padding: 10px;
}
	
.navmenu {
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
	background-color: black;
	float: left;
}

.navmenu a {
	text-decoration: none;
	color: white;
}

.navmenu li {
	float: left;
	display: inline;
	position: relative;
	min-width: 225px;
	min-height: 40px;
	list-style: none;
}
	
.navmenu ul {
	position: absolute;
	padding: 0;
	top: 100%;
	display: none;
}

.navmenu ul li {
	background-image: radial-gradient(ellipse at center, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%);
	background-color: white;
}
	
.navmenu ul a {
	color: black;
}	

.navmenu ul ul {
	padding: 0;
	left: 100%;
	top: 0;
	background: white;
}
	
.navmenu li:hover > ul {
	display: block;
}

.navmenu li:hover {
	background: radial-gradient(ellipse at center, #ffc578 0%,#fb9d23 100%);
}

}