<button class="button" onclick="window.open('{{ 'coin' | relative_url }}')">
    Get <img style="height: 1em; border-radius:50%;" src="{{ '/assets/images/icon/0fp0exp-logo-square.png' | relative_url }}"/>
</button>

<button class="button" onclick="widget_show_dapp_wallet_menu()" id="connect">
    Connect &#128179;
</button>

<div class="wallet-status" style="font-size: 0.8rem; margin-top: 5px; color: white;">
    <span id="showAccount"></span>
    <span id="fajarpurnamatokenbalance"></span>
</div>

<div id="widget_connect_dapp_wallet_menu" style="display: none;">
    
    <h3>Connect Wallet</h3>
    <button onclick="widget_show_dapp_wallet_menu()">&#10060;</button>
    
    <div class="grid_dapp_wallet_list">
        {% for item in site.data.dapp_wallet_connect_list %}
        <div onclick="{{ item.onclick }}; widget_show_dapp_wallet_menu()" id="{{ item.id }}">
            <img src="{{ item.src | relative_url }}" alt="{{ item.name }}" onerror="this.onerror=null;this.src='{{ item.srconerror | relative_url }}';"/>
            <p>{{ item.description }}</p>
            <button class="button" onclick="{{ item.watchasset }}" style="font-size: 0.8rem !important; padding: 2px 8px;">
                Add Token
            </button>
        </div>
        {% endfor %}
    </div>
</div>

<script>
function widget_show_dapp_wallet_menu(){
    const menu = document.getElementById("widget_connect_dapp_wallet_menu");
    if(getComputedStyle(menu).display != "none"){
        menu.style.display = "none";
    } else {
        menu.style.display = "block";
    }
}
</script>