<div id="outer_show_header_widget_button" style="display: none;">
    <button class="button" onclick="showing_header_widget_menu()">
        &#8801; Show Widgets
    </button>
</div>

<script>
    function showing_header_widget_menu() {
        const widgetContainer = document.querySelectorAll(".header-widget")[0];
        const showButton = document.getElementById("outer_show_header_widget_button");
        
        if(getComputedStyle(widgetContainer).display != "none"){
            widgetContainer.style.display = "none";
            showButton.style.display = "block";
        } else {
            widgetContainer.style.display = "flex"; /* Important: Use flex to keep alignment */
            showButton.style.display = "none";
        }
    }
</script>