.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px 40px auto;
}

.grid-header {
  grid-row: 1/2;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: aqua;
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
  text-align: center;
}

.grid-header-1 {
	grid-column: 1/6;
	display: table;
}

.grid-header-2 {
	grid-column: 6/11;
	display: table;
}

.grid-menu{
  grid-row: 2/3;
  grid-column: 1/10;
  background-color: grey;
}

.grid-content{
  grid-column: 1/10;
  grid-row: 3/4;
  background-color: white;
  background-image: radial-gradient(ellipse at center, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  font-size:calc(12px + 1vw);
  margin-top: 10px;
}

.grid-widget{
  grid-column: 10/11;
  grid-row: 2/4;
  background-color: #F6D155;
  background-image: linear-gradient(to right, #fcb69f, #ffecd2);
  padding: 10px;
}

footer{
  background-color: lightgreen;
  background-image: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
  padding: 10px;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-menu li {
    float: left;
    margin-right: 5px;
    background-image: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
}

li a .nav-menu, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: lightgreen}

.dropdown:hover .dropdown-content {
    display: block;
}
