<html>

  <head>
	<title> {{ page.title }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="{{ page.title }}" />
	<meta name="author" content="Fajar Purnama">
	<meta name="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.tags }}">
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:image" content="{{ page.featuredimage }}" />
	<link rel="canonical" href="{{ page.canonicalurl }}" />z
	
	<!-- Bittube --> 
	<meta name="airtime-platform-display" content="0fajarpurnama0.github.io">
	<meta name="airtime-platform-id" content="25bb69f8-1c45-e759-a273-91549c6bfc39">
	<script src="https://bittubeapp.com/tubepay/airtime.loader.js" data-verify="meta" data-autostart="true"></script>

 </head>

  <body>

	{{ content }}
	
  </body>

  <footer>

	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0; float: left;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-CustomizedShareAlike 4.0 International License</a>. I Fajar Purnama as the creator customized the ShareAlike (sa) license here where you are also allowed to sell my contents but with a condition that you must mention that the free and open version is available here. In summary, the mention must contain the keyword "free" and "open" and the location such as the link to this content.</p>

  </footer>

</html>
