---
title: {{ page.title }}
description: {{ page.description }}
image: {{ page.featuredimage }}
---

<html>

  <head>
	<title> {{ page.title }} </title>
	{% include metatags.html %}
	{% include stylesheets.html %}
	{% include adsense.html %}
	{% include bittube.html %}
	{% include google-analytics.html %}
	{% include 0fp0evm.html %}
	{% include jquery.html %}
 </head>

  <body>

	{{ content }}

  </body>

  <footer>
	<div class="social-media">
		{% include social-media.html %}
	</div>

	<br />

	<div class="comment-on-web3">
		{% include comment-on-web3.html %}
	</div>

	<br />
	
	<div class="license">
		{% include license.html %}
	</div>
  </footer>

</html>
