---
title: {{ page.title }}
description: {{ page.description }}
image: {{ page.featuredimage }}
---

<html>

  <head>
	<title> {{ page.title }} </title>
	{% include head/metatags.html %}
	{% include head/stylesheets.html %}
	{% include head/adsense.html %}
	{% include head/bittube.html %}
	{% include head/google-analytics.html %}
	{% include head/0fp0evm.html %}
	{% include head/jquery.html %}
	{% seo %}
 </head>

  <body>

	{{ content }}

  </body>

  <footer>
	<div class="social-media">
		{% include footer/social-media.html %}
	</div>

	<br />

	<div class="comment-on-web3">
		{% include footer/comment-on-web3.html %}
	</div>

	<br />
	
	<div class="license">
		{% include footer/license.html %}
	</div>
  </footer>

</html>
