<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link type="text/css" rel="stylesheet" href="css/style.css">
    <meta name="airtime-platform-display" content="0fajarpurnama0.github.io">
	<meta name="airtime-platform-id" content="25bb69f8-1c45-e759-a273-91549c6bfc39">
	<script src="https://bittubeapp.com/tubepay/airtime.loader.js" data-verify="meta" data-autostart="true"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script data-ad-client="ca-pub-6655028915274835" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158272435-2"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-158272435-2');
	</script>
    <title>{{ site.title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
  <footer>
  Fajar Purnama <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" style="background-color: transparent;"><img alt="Creative Commons License" style="border-width: 0px; background-color: transparent;" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" style="background-color: transparent;">Creative Commons Attribution 4.0 International License</a>.
  </footer>
</html>