---
layout: default
categories: {{ page.categories }}
tags: {{ page.tags }}
---

<div class="page-wrap">
	<div class="web3wallet">
		<button class="button" onclick="watchasset()">Add<img style="height: 1em;" src="https://0fajarpurnama0.github.io/assets/images/icon/0fp0exp-logo-square.png"/></button><span id="fajarpurnamatokenbalance"></span>&nbsp;<button class="button" onclick="window.open('https://cloudflare-ipfs.com/ipfs/QmYCdXnRjhG1YoD7h45XuRhE5QBeNdqWvFqWPKzFQqsLnQ/')">Get<img style="height: 1em; border-radius:50%;" src="{{ site.url }}/assets/images/icon/0fp0exp-logo-square.png"/></button></button><span id="fajarpurnamatokenbalance"></span>&nbsp;
		<button class="button" onclick="window.open('https://unstoppabledomains.com/extension')">&#128072;Cannot Open?<img style="height: 1em;" src="https://avatars.githubusercontent.com/u/36172275?s=200&v=4"/></button><span id="showAccount"></span>&nbsp;<button class="button" role="button" onclick="dapp()" id="connect">Connect<img style="height: 1em;" src="https://raw.githubusercontent.com/MetaMask/brand-resources/master/SVG/metamask-fox.svg"/></button>
	</div>
	<div class="header">
		<h1>{{ page.title }}</h1>
	</div>

	<div id="grid-container" class="grid-container">

		<div class="grid-menu">
			{% include navigation.html %}
		</div>

		<div id="grid-widget" class="grid-widget">
			<p>Get 60 <a href="0fajarpurnama0.coin/">0FP0EXP Token</a> to remove widget entirely!</p>

			<div class="banner">
				{{ page.banner }}
			</div>

			<div class="random-quotes-widget">
				{% include random-quotes-widget.html %}
			</div>

			<div id="mineme-widget" class="mineme-widget">
				{% include mineme-widget.html %}
			</div>

			<div id="buy-nft-widget" class="buy-nft-widget">
				{% include buy-nft-widget.html %}
			</div>

			<div id="cryptocurrency-donate-widget" class="cryptocurrency-donate-widget">
				{% include cryptocurrency-donate-widget.html %}
			</div>

			<div id="paypal-widget" class="paypal-widget">
				{% include paypal-widget.html %}
			</div>

			<div class="statcounter">
				{% include statcounter.html %}
			</div>

			<div id="personal-referrals" class="personal-referrals">
				{% include personal-referrals.html %}
			</div>

			<div class="other-widget">
				<p>word number: {{ page.content | number_of_words }} </p>
				<p>Time: {{ site.time }} </p>
			</div>

		</div>

		{{ content }}
	</div>
</div>
