---
layout: default
---

<div class="page-wrap">
	<div class="grid-container">
		<div class="grid-header">
			<div class="grid-header-1">
				<h1>{{ page.title }}</h1>
			</div>
		
		<div class="grid-header-2">
			{{ page.banner }}
		</div>
      </div>	
		
      <div class="grid-menu">
		<ul class="navmenu">
		
		</ul>
      </div>
  
      <div class="grid-widget">

		<div class="webchain-widget"></div>

		<div class="paypal-widget"></div>

		<div class="cryptocurrency-donate-widget"></div>

		<div class="other-widget"></div>
		
      </div>  
  
      <div class="grid-content">
        <h2>Blockchain</h2>
		<p>A ledger system based on cryptography that is difficult to alter, therefore supporting the honesty of the ledger.</p>
		
		<h3>Government Digital Blockchain Currency</h3>
		<ul>
		<li>Closed</li>
		<li>Government Centralized / Controlled</li>
		<li>Censorable</li>
		</ul>
		
		<h3>Cryptocurrency Generally</h3>
		<ul>
		<li>Open</li>
		<li>Decentralized</li>
		<li>Uncensorable</li>
		<li>Borderless</li>
		</ul>
		
		<h4>Bitcoin</h4>
		<p>The father of cryptocurrency and the first known blockchain technology.</p>
		
		<h4>Ethereum</h4>
		<p>One of the coins that supports decentralized application development.</p>
		
		<h4>Monero</h4>
		<p>One of the privacy coins</p>
		
		<h4>Other cryptocurrency with their own unique features.</h4>
	
      </div>
	{{ content }}
	</div>
</div>