---
layout: default
---

<div class="page-wrap">
	<div class="grid-container">
		<div class="grid-header">
			<div class="grid-header-1">
				<h1>{{ page.title }}</h1>
			</div>
		
		<div class="grid-header-2">
			{{ page.banner }}
		</div>
      </div>	
		
      <div class="grid-menu">
		<ul class="navmenu">
		
		</ul>
      </div>
  
      <div class="grid-widget">

		<div class="webchain-widget"></div>

		<div class="paypal-widget"></div>

		<div class="cryptocurrency-donate-widget"></div>

		<div class="other-widget"></div>
		
      </div>  
  
      <div class="grid-content">
		{{ content }}
      </div>
	</div>
</div>