<html>

  <head>
	<title> {{ page.title }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="{{ page.title }}" />
	<meta name="author" content="Fajar Purnama">
	<meta name="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.tags }}">
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:image" content="{{ page.featuredimage }}" />
	<link rel="canonical" href="{{ page.canonicalurl }}" />
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/slides.css' | relative_url }}">
	
	<!-- Bittube --> 
	<meta name="airtime-platform-display" content="0fajarpurnama0.github.io">
	<meta name="airtime-platform-id" content="25bb69f8-1c45-e759-a273-91549c6bfc39">
	<script src="https://bittubeapp.com/tubepay/airtime.loader.js" data-verify="meta" data-autostart="true"></script>

 </head>

  <body>

	{{ content }}
	
  </body>

</html>
